spring:
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        #         show_sql: true
        format_sql: true

  profiles:
    include: db

  thymeleaf:
    cache: false

  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true

  main:
    allow-bean-definition-overriding: true

logging:
  level:
    org.hibernate.SQL: debug
#    org.hibernate.type: trace

jwt:
  token:
    secret: ${SECRET_KEY}
